.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 37%;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend .chat__timestamp,
.friend__content .friend__bottom-text,
.friend__content .friend__status {
  opacity: 0.4;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend .chat__timestamp,
.friend__content .friend__status {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 1px solid #ea8685;
  padding: 4px 6px;
  border-radius: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.friend__now-listening span {
  margin-right: 4px;
  opacity: 0.6;
}
.friend__now-listening i {
  color: #ea8685;
  font-size: 8px;
}

.friend__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 0.8em;
}
